(minio_proxy_headers) {
	header_up Host {host}
	header_up X-Real-IP {remote_host}
}

prod.weightlossmdcherrycreek.com {
	reverse_proxy {$LIVE_UPSTREAM:app_live_blue:5056}
}

pre.weightlossmdcherrycreek.com {
	reverse_proxy app_pre:5056
}

storage.weightlossmdcherrycreek.com {
	reverse_proxy minio-storage-live:9000 {
		import minio_proxy_headers
	}
}

pre-storage.weightlossmdcherrycreek.com {
	reverse_proxy minio-storage-pre:9000 {
		import minio_proxy_headers
	}
}

storage-console.weightlossmdcherrycreek.com {
	reverse_proxy minio-storage-live:9001 {
		import minio_proxy_headers
	}
}

pre-storage-console.weightlossmdcherrycreek.com {
	reverse_proxy minio-storage-pre:9001 {
		import minio_proxy_headers
	}
}

client.weightlossmdcherrycreek.com {
	reverse_proxy doc-frontend:3000
}

dashboard.weightlossmdcherrycreek.com {
    root * /var/projects/doc-dashboard
    file_server
    try_files {path} /index.html
}
